body,html{

  height: 100%;
  width:100% ;
  font-family: 'Montserrat', sans-serif;
  background: url(9.3\ header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
  font-size: 3rem;
  color:rgba(204, 196, 198, 0.733);
}
hr{
  border-color:orangered;
   border-width:3px; 
   max-width: 65px;

}
.buffer{
 height: 10rem;

}
.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}
.btn-primary{
 background-color: orangered;
 border-color: orangered;
 
}
.btn-primary:hover{
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;
}